@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --Pale-Violet: hsl(276, 100%, 81%); /*sub-heading at the top of the app UI*/
    --Moderate-Violet: hsl(276, 55%, 52%); /*chat on the left*/
    --Desaturated-Dark-Violet: hsl(271, 15%, 43%); /*chat on the right*/
    --Grayish-Blue: hsl(206, 6%, 79%); /*placeholder text*/
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%); /*main headin*/
    --Dark-Grayish-Violet: hsl(270, 7%, 64%); /*paragraph*/
    /* Gradient */
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
    /* Secondary */
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet-: hsl(270, 20%, 96%); /*app background*/
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%); /*submit button background*/
    --Very-Light-Magenta-: hsl(289, 100%, 72%); /*radio button outline*/
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    gap: 100px;
    position: relative;
    overflow: hidden;
    z-index: -999;
}

.box {
    width: 23%;
    height: 90vh;
    background: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
    background-color: #000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 200px 200px;
    border: 1px solid #000;
}

.box1 {
    transform: scale(1.1);
    position: relative;
    margin-top: -11px;
    margin-left: -5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 350px 400px;
    overflow: hidden;
    z-index: -10;
}

.box1::before {
    position: absolute;
    content: "";
    width: 120%;
    height: 100%;
    background: repeating-conic-gradient(chartreuse 0%, chartreuse 5%, transparent 5%, transparent 40%, chartreuse 50%);
    z-index: -10;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container::after {
    width: 23%;
    height: 80vh;
    background: linear-gradient(hsla(293, 100%, 63%, 0.1), hsla(264, 100%, 61%, 0.1));
    content: "";
    position: absolute;
    bottom: 0;
    right: -30px;
    border-radius: 200px 200px 0 0;
}

.phone {
    /* display: none; */
    position: relative;
    z-index: 20;
    width: 240px;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #eee;
    background-color: var(--White);
}

.screen {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
}

.screen .heading {
    background: linear-gradient(to left, var(--Light-Magenta), var(--Light-Violet));
    border-radius: 7px;
    padding: 20px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #fff;
}

.screen .heading::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--White);
}

.screen .heading .stat {
    display: flex;
}

.screen .heading svg {
    display: inline;
    transform: rotate(180deg);
    width: 8px;
    margin-right: 2px;
    fill: #fff;
}

.screen .heading img {
    border-radius: 50%;
    border: 1px solid #eee;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.heading .status h4 {
    font-size: 0.6rem;
    font-weight: 400;
}

.heading .status p {
    color: #aaa;
    font-size: 0.5rem;
}

.heading .menu span {
    width: 3px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 2px 0;
    border-radius: 50%;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.chat .top p,
.chat .bottom p:first-child {
    background-color: hsla(276, 55%, 52%, 0.192);
    width: 67%;
    margin: 5px;
    border-radius: 12px 12px 12px 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 10px;
    color: var(--Moderate-Violet);
}

.chat .center {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 0 10px;
}

.chat .center .dog {
    display: flex;
    gap: 5px;
}

.chat .center .dog img {
    width: 35px;
    border-radius: 10px;
}

.chat .center p {
    background-color: hsla(271, 15%, 43%, 0.171);
    width: 69%;
    margin: 5px 0;
    border-radius: 12px 12px 5px 12px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 10px;
    color: var(--Desaturated-Dark-Violet);
}

.chat .bottom .cta {
    background: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
    width: 75%;
    border-radius: 10px 10px 10px 5px;
    padding: 5px 10px;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 10px;
    align-items: center;
    color: var(--Grayish-Blue);
}

.chat .bottom .cta .price {
    font-size: 1rem;
    color: #fff;
}

.chat .bottom .cta div {
    display: flex;
    align-items: center;
}

.circle {
    border-radius: 50%;
    border: 2px solid hsla(206, 7%, 79%, 0.24);
    display: block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    margin-left: -5px;
    margin-right: 10px;
}

.input {
    border: 1px solid #b4b1b1;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 10px 20px;
    margin: 10px;
    background-color: #eee;
    color: #aaa;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input .submit {
    width: 28px;
    height: 28px;
    position: absolute;
    background-color: var(--Very-Dark-Desaturated-Violet);
    right: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input .submit svg {
    width: 25px;
    height: 25px;
    fill: var(--Grayish-Blue);
}

.desc {
    width: 35%;
}

.desc h1 {
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    .container {
        overflow-y: auto;
        position: relative;
        padding: 50px 0;
    }
    .box {
        width: 60%;
        height: 70vh;
        background: linear-gradient(var(--Light-Magenta), var(--Light-Violet));
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        border-radius: 0 0 200px 200px;
    }

    .container::after {
        display: none;
    }

    .desc {
        width: 90%;
        text-align: center;
    }
}
